
*.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-133-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-133-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-134-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-134-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-135-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-135-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-136-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-136-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-137-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-137-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-138-1.png
PAML4M_1R_R_Intro.html
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-133-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-133-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-134-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-134-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-135-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-135-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-136-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-136-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-137-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-137-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-138-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-138-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-139-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-139-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-140-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-140-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-141-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-142-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-142-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-142-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-143-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-143-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-143-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-144-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-144-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-144-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-145-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-145-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-145-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-149-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-149-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-150-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-150-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-151-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-151-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-152-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-152-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-154-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-154-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-154-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-155-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-155-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-155-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-156-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-156-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-156-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-157-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-157-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-157-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-158-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-163-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-164-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-165-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-166-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-167-1.png
PAML4M_1R_R_Intro.html
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-133-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-133-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-134-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-134-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-135-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-135-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-136-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-136-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-137-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-137-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-138-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-138-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-139-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-139-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-140-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-140-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-141-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-142-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-142-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-142-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-143-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-143-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-143-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-144-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-144-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-144-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-145-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-145-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-145-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-149-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-149-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-150-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-150-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-151-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-151-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-152-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-152-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-154-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-154-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-154-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-155-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-155-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-155-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-156-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-156-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-156-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-157-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-157-2.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-157-3.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-158-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-163-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-164-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-165-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-166-1.png
PAML4M_1R_R_Intro_files/figure-html/unnamed-chunk-167-1.png
PAML4M_1R_R_Intro_files/libs/bootstrap/bootstrap-icons.css
PAML4M_1R_R_Intro_files/libs/bootstrap/bootstrap-icons.woff
PAML4M_1R_R_Intro_files/libs/bootstrap/bootstrap.min.css
PAML4M_1R_R_Intro_files/libs/bootstrap/bootstrap.min.js
PAML4M_1R_R_Intro_files/libs/clipboard/clipboard.min.js
PAML4M_1R_R_Intro_files/libs/quarto-html/anchor.min.js
PAML4M_1R_R_Intro_files/libs/quarto-html/popper.min.js
PAML4M_1R_R_Intro_files/libs/quarto-html/quarto-syntax-highlighting.css
PAML4M_1R_R_Intro_files/libs/quarto-html/quarto.js
PAML4M_1R_R_Intro_files/libs/quarto-html/tippy.css
PAML4M_1R_R_Intro_files/libs/quarto-html/tippy.umd.min.js
